.facility {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  margin-left: 0;
  white-space: nowrap;
}

.facilityIcon {
  color: var(--icon-color);
  margin-right: 0.5rem;
}

.facilityTitle {

}