.facility {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  margin-left: 0;
  white-space: nowrap;
}

.facilityIcon span {
  width: 0.25rem;
  height: 0.25rem;
  background-color: var(--icon-color);
}

.facilityIcon {
  display: flex;
  margin-right: 0.25rem;
}