.searchSection {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 430px;
  position: absolute;
  bottom: 3rem;
  background: white;
  left: 50%;
  transform: translate(-50%, 0);
  width: auto;
}

.searchRow {
  display: flex;
}

.buttonSection {
  min-width: 6rem;
  margin-left: 1rem;
}

@media screen and (max-width: 575px) {
  .searchSection {
    position: relative;
    min-width: auto;
    left: auto;
    transform: none;
    bottom: auto;
  }

  .searchRow {
    flex-direction: column;
  }

  .buttonSection {
    width: 100%;
    margin-left: 0;
    margin-top: 1rem;
  }
}
