.toggle {
  display: flex;
  margin-left: auto;
  align-items: center;
  color: darkslategray;
  padding: 0;
}

.toggle:global.btn:focus {
  box-shadow: none;
}

.menu:global.dropdown-menu {
  max-height: 25rem;
  overflow-y: scroll;
}