.occupancyContainer {
  display: flex;
  align-items: flex-end;
}

.occupancyCaption {
  margin-left: 0.25rem;
}

.iconActive {
  color: var(--icon-color);
}

.iconInactive {
  color: var(--info-text-color);
}