.title {
  cursor: pointer;
  color: var(--link-color);
  font-weight: 400;
  font-size: 1.25rem;
  padding: 0;
}

.title:active, .title:focus {
  outline: none;
}

.title:active, title:hover {
  color: var(--icon-color);
}