.roomAdditionalFacilitiesContainer {
  border-top: 1px solid #dee2e6;
  margin-top: 4px;
}

.toggleButton {
  padding: 0;
  font-size: 12px;
}

.toggleButton:active, .toggleButton:focus {
  box-shadow: none;
}