.infoCard {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 2rem;
  max-width: 34rem;
  border-radius: 0;
}

.cardTitle {
  font-size: 1.125rem;
  font-weight: 400;
  padding-bottom: 0.25rem;
}

.cardMessage {
  font-size: 0.8rem;
  padding-bottom: 0.5rem;
}

@media screen and (max-width: 575px) {
  .infoCard {
    margin: 0.5rem;
    right: 0;
  }
  
  .infoCardBody {
    padding: 1rem;
  }
}