.hotelFacilitiesContainer {
  display: flex;
  flex-wrap: wrap;
  width: 66%;
}

.hotelFacility {
  width: 33%;
}

@media screen and (max-width: 767px) {
  .hotelFacility {
    width: 50%;
  }

  .hotelFacilitiesContainer {
    width: 100%;
  }
}