.dropdownToggle {
  display: flex;
  width: 100%;
  height: 40px;
  padding-right: 8px;
  padding-left: 8px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--input-border-color);
  border-radius: 2px;
  transition: all 200ms ease;
  background-color: white;
  color: var(--main-text-color);
}

.dropdownButton {
  border: none;
}

.dropdownToggle,
.dropdownButton {
  background-color: white;
  color: var(--main-text-color);
}

.dropdownToggle:hover,
.dropdownToggle:focus,
.dropdownButton:hover,
.dropdownButton:focus {
  background-color: white;
  color: var(--main-text-color);
  outline: none;
  box-shadow: none;
}

.dropdown:global>.btn-primary.dropdown-toggle,
.dropdownToggle:global.btn-primary:not(:disabled):not(.disabled):focus,
.dropdownToggle:global.btn-primary:not(:disabled):not(.disabled):active,
.dropdownButton:global.btn-primary:not(:disabled):not(.disabled):focus,
.dropdownButton:global.btn-primary:not(:disabled):not(.disabled):active {
  background-color: white;
  color: var(--main-text-color);
  box-shadow: none;
  outline: none;
  border-color: #dbdbdb;
}

.dropdown:global.show>.btn-primary.dropdown-toggle,
.dropdownToggle:global.btn-primary:not(:disabled):not(.disabled):focus {
  border-bottom: 2px solid #008489;
  margin-bottom: -1px;
}


.containerHorizontal,
.containerVertical {
  display: flex;
  align-items: center;
}

.containerVertical {
  flex-direction: column;
}

.selectLabel {
  padding-right: 8px;
  color: var(--info-text-color);
}

.dropdown, .dropdownToggle {
  width: 100%;
}

.dropdownMenu {
  max-height: 300px;
  overflow-y: auto;
  background-color: #fff;
  z-index: 2;
  margin-top: 2px;
  margin-left: 0px;
  padding: 16px;
  align-self: flex-start;
  border-radius: 2px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.14);
}

.menuItem {
  background-color: #fff;
}

.menuItem:global.active {
  background-color: var(--main-text-active-background);
  color: var(--main-text-active);
}

.menuItem:hover {
  text-decoration: underline;
  background-color: #f4f4f5;
  color: var(--main-text-hover);
}
