.reserveSectionContainer {
  margin-left: -1px;
  min-width: 14rem;
  border: 1px solid #dee2e6;
}

.reserveSectionContainerMobile {
  border: none;
  position: sticky;
  bottom: 0;
  z-index: 10;
  background: #fff;
}

.reserveSectionHeader {
  height: 3rem;
  border-bottom: 2px solid #dee2e6;
  border-left: none;
  z-index: 1;
  background-color: #fff;
  box-sizing: content-box;
  position: sticky;
  top: 0;
}

.reserveSectionBody {
  display: flex;
  position: sticky;
  top: 3rem;
  flex-direction: column;
}

.reserveButton {
  margin: 0.75rem;
  border-radius: 2px;
}

.reserveButton:global.btn-primary {
  background-color: var(--button-color);
}

.reserveButtonMobile {
  margin: 1rem;
}