.header {
  padding: 1rem;
}

.titleSection {
  display: flex;
}

.selectSection {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
}

.selectSection > div:not(:last-child) {
  margin-right: 0.5rem;
}

.hotelInfo {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 1rem 0;
  }

  .selectSection {
    height: auto;
    justify-content: flex-start;
  }
}