.header {
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
}

.titleSection {
  display: flex;
  height: 80px;
  align-items: center;
}

.selectSection {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
}

@media screen and (max-width: 575px) {
  .header {
    flex-direction: column-reverse;
  }

  .selectSection,
  .titleSection {
    justify-content: center;
  }

  .selectSection {
    height: 40px;
  }
}