.mainSection {
  display: flex;
  font-weight: 500;
}

.title {
  line-height: 1rem;
  margin-left: 0.5rem;
}

.highlighted {
  color: var(--cta-color);
}

.highlighted, .common {
  margin-bottom: 0.5rem;
}

.addonSection {
  margin-left: 1.5rem;
  font-size: 0.875rem;
  line-height: 1rem;
}