.link {
  display: flex;
  align-items: flex-start;
  width: fit-content;
  color: var(--main-text-color);
}

.link:hover {
  color: var(--main-text-hover);
}

.linkContent {
  margin: 0;
  font-size: 14px;
  white-space: pre-wrap;
  font-family: inherit;
  color: var(--main-text-color);
}